 body{
            background-color: rgba(240, 255, 255, 0.759);
        }
        body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#units {
    display: flex;
    flex-direction: column;
    gap: 20px; /* THIS replaces padding */
    align-items: center;
}